body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(154, 76, 242, 1) 100%
  );
}

button {
  cursor: pointer;
  border: 1px solid black;
}
